@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Rubik&display=swap');

*,
*:after *:before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    position: absolute;
    z-index: 10;
    width: 100%;
}



:active,
:hover,
:focus {
    outline: 0 !important;
    outline-offset: 0;
}

a,
a:hover {
    text-decoration: none;
}

a:hover {
    color: var(--primary-color) !important;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

/* Variavel? */
:root {
    --primary-color: #ff553e;
    --secondry-color: #333;
    --white-color: #fff;
    --black-color: #000;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 100%;
    font-weight: 400;

}

/* Scrollbar */

::-webkit-scrollbar {
    width: 0.3125rem;
}

::-webkit-scrollbar-track {
    background: var(--white-color);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}

/* css design */
h1 {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: var(--white-color);
}

h2 {
    font-weight: 600;
    font-size: 1.5625rem;
    text-transform: capitalize;
    color: var(--white-color);
    line-height: 2.5rem;
}

h4 {
    color: var(--white-color);
    text-transform: capitalize;
    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: 0.9375rem;
    transition: all .3s linear;
}

h5 {
    color: var(--white-color);
    text-transform: capitalize;
    font-size: 0.875rem;
    font-weight: 400;
    margin-bottom: 10px;
}

p {
    font-size: 1rem;
    color: var(--white-color);
    font-weight: 400;
    line-height: 1.75;
    letter-spacing: 0.0625rem;
    opacity: 0.8;
}

.main-btn {
    height: 40px;
    line-height: 40px;
    font-size: 1.125rem;
    display: inline-block;
    color: var(--white-color);
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 30px;
    position: relative;
}

.main-btn::after,
.main-btn::before {
    position: absolute;
    top: 50%;
    background-color: rgb(255, 255, 255, .3);
    left: 0;
    width: 100%;
    height: 1px;
    content: "";
    transition: all .5s ease-out 0s;
    -webkit-transition: all .5s ease-out 0s;
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
}

.main-btn::after {
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
}

.main-btn:hover::after {
    transform: rotate(20deg);
    -webkit-transform: rotate(-20deg);
    background-color: var(--primary-color);
}

.main-btn:hover::before {
    transform: rotate(20deg);
    -webkit-transform: rotate(-20deg);
    background-color: var(--primary-color);
}

.main-btn:hover {
    color: var(--primary-color);
}

.wrapper {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: var(--secondry-color);
}

.text-content {
    width: 60%;
    margin: auto;
}

/**************************** fim ******************************************/

.navbar-brand {
    font-weight: bold;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    color: #ccc !important;
}


.nav-item {
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 50px;
}


.nav-link {
    letter-spacing: 2px;
    font-size: 1em;
    font-weight: 700;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
}

.nav-link:hover {
    border-radius: 5px;
    transition: all 0.6s ease 0s;
}


/**************************** NAVBAR ****************************/

.comprar {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 80px;
}

.cards .banner-info {
    bottom: 30px;
    margin: auto;
    width: 100%;
    z-index: 9;
    padding: 0 15px;
}

.cards .card-banner:nth-child(2) h2,
.cards .card-banner:nth-child(2) p,
.cards .card-banner:nth-child(2) a {
    color: var(--black-color);
}

.cards .card-banner:nth-child(2) a::before,
.cards .card-banner:nth-child(2) a::after {
    background-color: var(--black-color);
}

.cards .card-banner .card-thumb,
.products .item-product {
    position: relative;
    display: block;
    overflow: hidden;
}

.cards .card-banner .card-thumb img,
.products .item-product img {
    transition: all .5 ease-out 0s;
}

.cards .card-banner .card-thumb img:hover,
.products .item-product img:hover {
    transform: scale(1.2);
    opacity: 0.6;
}



.products .wrapper {
    background: var(--black-color);
}

.products .nav-tabs {
    border: 0;
    justify-content: center;
}

.products .nav-tabs .nav-link {
    display: block;
    padding: 0 30px;
    border: 1px solid var(--white-color);
    border-radius: 20px;
    background-color: var(--black-color);
    color: var(--white-color);
    height: 36px;
    margin: 10px;
    line-height: 34px;
    text-transform: uppercase;
}

.products .product-info .cat-parent,
.products .product-info .wishlist i {
    font-size: 0.875rem;
    color: var(--white-color);
    opacity: 0.6;
    text-transform: uppercase;
}

.products .product-tittle a {
    margin: 0 0 7px;
    display: block;
    color: var(--white-color);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: uppercase;
}

.products .rating i {
    color: #f4d632;
}

.basket a i {
    color: var(--white-color)
}

.deal-of-the-day {
    background-image: url(/img/produtos/secaofinal.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer {
    background-color: var(--white-color);
    padding: 30px;

}

.bgCadastro {
    background-color: var(--secondry-color);
    min-height: 100vh;

}


.cadastro {
    color: var(--white-color);
}

.background {
    background-image: url(/img/cadastroimg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.cadastrarteste{
    min-height: 100vh;
    padding-top: 5%;
}